.main {
    background-color: #657786;
}

.action_area {
    display: flex;
    justify-content: center;
}

.nav_title{
    margin-right: 1% ;   
    font-size: large; 
    font-weight: lighter;
    font-family: sans-serif;
}

.header {
    display: block;
    align-items: center;
}
