.main_login_container{
    display: grid;
    justify-content: center;
    margin-top: 1%;
}

.form_inpit {
    background-color: #6066ac;
    margin-right: 2%;
    padding: 2%;
    width: 100%;
    border-radius: 25px;
    color: white;
}
