.nav_main {
    background-color: #1DA1F2;
}

.nav_main_active {
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: -1% 0 0 0;
}

.nav_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action_area {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.nav_title{
    font-size: large;
    font-weight: lighter;
    font-family: sans-serif;
    inline-size: max-content;
}
